<html>
<head>
  <title>Not here</title>
</head>
<body>

  <p>Miles or KM's must be entered in order to display results</p>
  <p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>

</body>
</html>